@font-face {
    font-family: 'Aptos';
    src: url('https://krdrtradio.github.io/fonts-hack/aptos-light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Aptos';
    src: url('https://krdrtradio.github.io/fonts-hack/aptos-light-italic.ttf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Aptos';
    src: url('https://krdrtradio.github.io/fonts-hack/aptos.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Aptos';
    src: url('https://krdrtradio.github.io/fonts-hack/aptos-italic.ttf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Aptos';
    src: url('https://krdrtradio.github.io/fonts-hack/aptos-semibold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Aptos';
    src: url('https://krdrtradio.github.io/fonts-hack/aptos-semibold.ttf');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Aptos';
    src: url('https://krdrtradio.github.io/fonts-hack/aptos-bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Aptos';
    src: url('https://krdrtradio.github.io/fonts-hack/aptos-bold.ttf');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Aptos';
    src: url('https://krdrtradio.github.io/fonts-hack/aptos-extrabold.ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Aptos';
    src: url('https://krdrtradio.github.io/fonts-hack/aptos-extrabold-italic.ttf');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Aptos';
    src: url('https://krdrtradio.github.io/fonts-hack/aptos-black.ttf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Aptos';
    src: url('https://krdrtradio.github.io/fonts-hack/aptos-black-italic.ttf');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Aptos Narrow';
    src: url('https://krdrtradio.github.io/fonts-hack/aptosnarrow.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aptos Narrow';
    src: url('https://krdrtradio.github.io/fonts-hack/aptosnarrow-bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Aptos Narrow';
    src: url('https://krdrtradio.github.io/fonts-hack/aptosnarrow-bold-italic.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Aptos Narrow';
    src: url('https://krdrtradio.github.io/fonts-hack/aptosnarrow-italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Comic Sans MS';
    src: url('https://krdrtradio.github.io/fonts-hack/comic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Comic Sans MS';
    src: url('https://krdrtradio.github.io/fonts-hack/comicbd.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Comic Sans MS';
    src: url('https://krdrtradio.github.io/fonts-hack/comici.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Comic Sans MS';
    src: url('https://krdrtradio.github.io/fonts-hack/comicz.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Courier New';
    src: url('https://krdrtradio.github.io/fonts-hack/cour.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Courier New';
    src: url('https://krdrtradio.github.io/fonts-hack/courbd.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Courier New';
    src: url('https://krdrtradio.github.io/fonts-hack/courbi.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Courier New';
    src: url('https://krdrtradio.github.io/fonts-hack/couri.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Sofia Pro Regular'), url('https://krdrtradio.github.io/fonts-hack/Sofia Pro Regular Az.woff') format('woff');
}


@font-face {
    font-family: 'Sofia Pro';
    font-style: italic;
    font-weight: 400;
    src: local('Sofia Pro Italic'), url('https://krdrtradio.github.io/fonts-hack/Sofia Pro Regular Italic Az.woff') format('woff');
}


@font-face {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 200;
    src: local('Sofia Pro ExtraLight'), url('https://krdrtradio.github.io/fonts-hack/Sofia Pro ExtraLight Az.woff') format('woff');
}


@font-face {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 100;
    src: local('Sofia Pro UltraLight'), url('https://krdrtradio.github.io/fonts-hack/Sofia Pro UltraLight Az.woff') format('woff');
}


@font-face {
    font-family: 'Sofia Pro';
    font-style: italic;
    font-weight: 200;
    src: local('Sofia Pro ExtraLight Italic'), url('https://krdrtradio.github.io/fonts-hack/Sofia Pro ExtraLight Italic Az.woff') format('woff');
}


@font-face {
    font-family: 'Sofia Pro';
    font-style: italic;
    font-weight: 100;
    src: local('Sofia Pro UltraLight Italic'), url('https://krdrtradio.github.io/fonts-hack/Sofia Pro UltraLight Italic Az.woff') format('woff');
}


@font-face {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 300;
    src: local('Sofia Pro Light'), url('https://krdrtradio.github.io/fonts-hack/Sofia Pro Light Az.woff') format('woff');
}


@font-face {
    font-family: 'Sofia Pro';
    font-style: italic;
    font-weight: 300;
    src: local('Sofia Pro Light Italic'), url('https://krdrtradio.github.io/fonts-hack/Sofia Pro Light Italic Az.woff') format('woff');
}


@font-face {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 500;
    src: local('Sofia Pro Medium'), url('https://krdrtradio.github.io/fonts-hack/Sofia Pro Medium Az.woff') format('woff');
}


@font-face {
    font-family: 'Sofia Pro';
    font-style: italic;
    font-weight: 500;
    src: local('Sofia Pro Medium Italic'), url('https://krdrtradio.github.io/fonts-hack/Sofia Pro Medium Italic Az.woff') format('woff');
}


@font-face {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 600;
    src: local('Sofia Pro SemiBold'), url('https://krdrtradio.github.io/fonts-hack/Sofia Pro Semi Bold Az.woff') format('woff');
}


@font-face {
    font-family: 'Sofia Pro';
    font-style: italic;
    font-weight: 600;
    src: local('Sofia Pro SemiBold Italic'), url('https://krdrtradio.github.io/fonts-hack/Sofia Pro Semi Bold Italic Az.woff') format('woff');
}


@font-face {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 700;
    src: local('Sofia Pro Bold'), url('https://krdrtradio.github.io/fonts-hack/Sofia Pro Bold Az.woff') format('woff');
}


@font-face {
    font-family: 'Sofia Pro';
    font-style: italic;
    font-weight: 700;
    src: local('Sofia Pro Bold Italic'), url('https://krdrtradio.github.io/fonts-hack/Sofia Pro Bold Italic Az.woff') format('woff');
}


@font-face {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 900;
    src: local('Sofia Pro Black'), url('https://krdrtradio.github.io/fonts-hack/Sofia Pro Black Az.woff') format('woff');
}


@font-face {
    font-family: 'Sofia Pro';
    font-style: italic;
    font-weight: 900;
    src: local('Sofia Pro Black Italic'), url('https://krdrtradio.github.io/fonts-hack/Sofia Pro Black Italic Az.woff') format('woff');
}

@font-face {
    font-family: 'Times New Roman';
    src: url('https://krdrtradio.github.io/fonts-hack/times.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Times New Roman';
    src: url('https://krdrtradio.github.io/fonts-hack/timesbd.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Times New Roman';
    src: url('https://krdrtradio.github.io/fonts-hack/timesbi.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Times New Roman';
    src: url('https://krdrtradio.github.io/fonts-hack/timesi.ttf');
    font-weight: normal;
    font-style: italic;
}